<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>hieudn.filters.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>hieudn.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>hieudn.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>hieudn.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsDisplayController</servlet-name>
        <servlet-class>hieudn.controllers.DetailsDisplayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>hieudn.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>hieudn.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>hieudn.controllers.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartContorller</servlet-name>
        <servlet-class>hieudn.controllers.UpdateCartContorller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>hieudn.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderController</servlet-name>
        <servlet-class>hieudn.controllers.AddOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackHistoryController</servlet-name>
        <servlet-class>hieudn.controllers.TrackHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookingController</servlet-name>
        <servlet-class>hieudn.controllers.RemoveBookingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsDisplayController</servlet-name>
        <url-pattern>/DetailsDisplayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartContorller</servlet-name>
        <url-pattern>/UpdateCartContorller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderController</servlet-name>
        <url-pattern>/AddOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackHistoryController</servlet-name>
        <url-pattern>/TrackHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookingController</servlet-name>
        <url-pattern>/RemoveBookingController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
</web-app>
