<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="BookingHotelPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>hieudn.entitites.Booking</class>
    <class>hieudn.entitites.Users</class>
    <class>hieudn.entitites.Room</class>
    <class>hieudn.entitites.BookingDetails</class>
    <class>hieudn.entitites.Rooms</class>
    <class>hieudn.entitites.Hotel</class>
    <class>hieudn.entitites.Sysdiagrams</class>
    <class>hieudn.entitites.Category</class>
    <class>hieudn.entitites.HotelCate</class>
    <class>hieudn.entitites.Coupon</class>
    <class>hieudn.entitites.Feedback</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://localhost:1433;databaseName=Hotel"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.password" value="123"/>
    </properties>
  </persistence-unit>
</persistence>
